release/
*.cpp.autosave
*.cpp.orig
*.h.orig
*.pro.user
*.h.autosave
*.pro.user*
*.db
*.sql
object_script.WorktimeManager.*
!sqlite/delBassoInitialDb_sheme_template.sql
olddb/
ui_*.h
worktimemanager_plugin_import.cpp   
